.cardSizing {
  width: 18rem;
}
.sliderProjects .slick-slide > div{
  margin:0 0.9rem;
}

.sliderProjects .slick-list{
  margin: 0 0.9rem;
}


.sliderProjects .slick-slide > div{
    margin:0 15px;
}

.sliderProjects .slick-list{
    margin: 0 15px;
}