   .btn-aplication-form,
   .card-aplication-form{
        font-size: 1.5rem;
        font-weight:500;
    }
    .btn-aplication-form{
        width: 70%;
    }

    .card-aplication-form{
        margin: 5rem auto ;
        border-radius: 2rem;
    }

@media (min-width: 780px) {

    .card-aplication-form{
        width: 80%;
    }

    .card-aplication-form > div{
        width: 80%;
    }

    .btn-aplication-form,
    .card-aplication-form{
        font-size: 2rem;
    }

};
