.description,
.description2 {
  display: none;
}

.card1:hover .description,
.card2:hover .description2 {
  display: block;
}

.card2 p {
  text-align: end;
}

.card1 {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
