.userLayoutOffcanvas {
  background: transparent !important;
  max-width: 300px;
}

.userOffcanvas .offcanvas-header,
.userOffcanvas .offcanvas-body {
  background-color: #d9d5d5;
}

@media (max-width: 768px) {
  .bg-sidebar {
    display: none;
  }

  .hamburguer-container {
    position: relative;
    background: #d9d5d5;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }

  .transparent-btn {
    background: transparent !important;
    border: none !important;
    color: black !important;
    font-size: 24px !important;
    width: 40px !important;
  }
}

@media (min-width: 768px) {
  .bg-sidebar {
    display: block;
    background-color: #E1E1E1;
  }

  .hamburguer-container {
    display: none;
  }
}

.nav-link.active {
  filter: invert(1);
  background-color: #948F8F;
}