.userLayoutOffcanvas {
  background: transparent !important;
}

.userOffcanvas .offcanvas-header,
.userOffcanvas .offcanvas-body {
  background-color: #d9d5d5;
  max-width: 300px;
}

.userOffcanvas .offcanvas-body {
  border-radius: 0px 0px 20px 20px;
  box-shadow: 10px 12px 5px -6px rgba(50, 50, 50, 0.75);
}

@media (max-width: 768px) {
  .bg-light {
    display: none;
  }
  .hamburguer-container {
    position: relative;
    background: #d9d5d5;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  .transparent-btn {
    background: transparent !important;
    border: none !important;
    color: black !important;
    font-size: 24px !important;
    width: 40px !important;
  }
}

@media (min-width: 768px) {
  .bg-light {
    display: block;
  }
  .hamburguer-container {
    display: none;
  }
}
