.nav-item {
  --s: 0.1em;
  --c: #1F37D5;
  color: #0000;
  padding-bottom: var(--s);
  background:
    linear-gradient(90deg,var(--c) 50%,#1F37D5 0) calc(100% - var(--_p,0%))/200% 100%,
    linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
  -webkit-background-clip: text,padding-box;
          background-clip: text,padding-box;
  transition: 0.5s;
}
.nav-item:hover {
  --_p: 100%
}

.link-item {
  display: grid;
  grid-gap: 2.5rem;
}

.nav-logo {
  width: 4rem;
  height: 5.25rem;
}

.btn-back {
  width: 3.5rem;
  height: 2.5rem;
}

.nav {
  height: 105px;
}
