.card-img-top {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  height: 15.625rem !important;
  width: 15.625rem !important;
  position: relative;
  top: -5rem;
  object-fit: cover;
}

.card {
  border-radius: 0;
  cursor: pointer;
  margin-top: 6.25rem !important;
}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.card-body {
  margin-top: -3.125rem
}

.bi {
  font-size: 25px;
}

.slick-arrow,
.slick-prev {
  border-radius: 50%;
  scale: 1.5;
}

.slick-arrow,
.slick-arrow:hover {
  background-color: #FFB900 !important;
}

.slick-prev,
.slick-prev:hover {
  background-color: blue !important;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: .75;
}