.sliderAlliance .card-img-top {
  display: block;
  margin: auto;
  border-radius: 50%;
  object-fit: cover;
}

.sliderAlliance .card:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  cursor: pointer;
}

.sliderAlliance .slick-arrow,
.sliderAlliance .slick-prev {
  border-radius: 50%;
  scale: 1.5;
}

.sliderAlliance .slick-arrow,
.sliderAlliance .slick-arrow:hover {
  background-color: #FFB900 !important;
}

.sliderAlliance .slick-prev,
.sliderAlliance .slick-prev:hover {
  background-color: blue !important;
}

.sliderAlliance .slick-prev:hover:before,
.sliderAlliance .slick-prev:focus:before,
.sliderAlliance .slick-next:hover:before,
.sliderAlliance .slick-next:focus:before {
  opacity: .75;
}

.sliderAlliance .slick-slide>div {
  margin: 0 15px;
  height: 100%;
}

.sliderAlliance .slick-list {
  margin: 0 15px;
}

.sliderAlliance .slick-track {
  display: flex !important;
  margin-bottom: 1.5rem;
}

.sliderAlliance .slick-slide {
  height: inherit !important;
}


@media (max-width: 768px) {
  .sliderAlliance .slick-arrow {
    display: none!important;
  }
}