.logo-img {
    width: 32px;
    height: 32px;
    margin-right: 8px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }

  .logo-incubadora{
    width: 100px;
    margin-right: 8px;
    
  }

  @media (max-width: 770px) {
    footer .container{
      flex-direction: column;
    }
    footer .container div{
      margin: 10px;
    }
  }